.container {
  img {
    cursor: pointer;
  }
  .counterWrapper {
    width: 392px;
    height: 385px;
    background-color: white;
    position: relative;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    .removeIcon {
      position: absolute;
      right: 0;
      padding: 16px;
    }

    .cardCounterWrapper {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 120px;
      }

      .cardoOptions {
        display: flex;
        justify-content: center;

        margin-top: 44px;
      }
    }
  }

}
