* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --write-50: #eeeeee;
  --blue-600: #4639cd;
  --purple-300: #6f69ac;
  --purple-200: #8d8ab1;
  --red-300: #ff6f6f;
}
html {
  @media (max-width: 1080px) {
    font-size: 93.75%; //15px
  }
  @media (max-width: 720px) {
    font-size: 87.5%; //14px
  }
}

body {
  font-family: "Titillium Web", sans-serif;
  background-color: var(--write-50);
}

button {
  cursor: pointer;
}
